    <div style="width: 100px; float:left; height:100px; margin:10px">

        <img class="img-fluid" style="width:945px ;" src="/assets/tweetapp2.jpg" alt="">
    </div>
    <div class="container text-center" style="width: 500px; float:left; height:300px; margin-left:945px" >    
        <div class="container text-center" style="padding:10px">
            <h1>Welcome to the Tweet App</h1>
            <p>Connect today and network wide!</p>
    
            <a href="/login" mat-raised-button color="primary" (click)="btnClick()" style='margin-right:16px'>Already a user? Login Here</a>
            <a href="/register" mat-raised-button color="primary" (click)="btnClick()">New user? Register Here</a>
        </div>
        
    </div>

